img.displayed {
text-align: center;
}
  .border {
    border-width: 1px;
    border-color: #778899;  /* dark grayish blue */
    border-style: solid; }

font-family: Bahnschrift, Inter, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", 
  "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

  p { font-size: 15px;
      font-family: Bahnschrift, Inter, Helvetic, sans-serif;
      text-align: left; 
      margin-left: 5px; }
  pre, code {
    font-family: monospace, monospace;
    font-size: 10px; }

  pre {
    overflow: auto; }

  pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
  }

  a {
    text-decoration: none; 
  }

  a[href]:hover {
    text-decoration: underline; 
  }

  pre:hover, pre:focus { width: min-content; }

  p.em1 {
    margin-left: 1em; }
  p.em2 {
    margin-left: 2em; }
  p.em3 {
    margin-left: 3em; }
  p.em4 {
    margin-left: 4em; }

  div {
    float: left; }

  h1 { font-size: 21px;
       font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; }
  h2 { font-size: 18px;
       font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; }
  h3 { font-size: 17px;
       font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; }
  h4 { font-size: 16px;
       font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; }
  h5 { font-size: 15px;
       font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; }
  h6 { font-size: 10px;
	  font-family: Bahnschrift, Inter, Helvetic, sans-serif; }

details {
  font: 11px Inter, sans-serif, Bahnschrift, Calibri;
  width: 45%;
}

details > summary {
  padding: 2px 6px;
  width: 12em;
  background-color: #eee;  /* very light gray */
  border: none;
  box-shadow: 3px 3px 4px #00008b;  /* dark blue */
  cursor: pointer;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #fff;  /* white */
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px #00008b;  /* dark blue*/
}

details[open] > summary {
  background-color: yellow;
}

details.test {
    position: relative;
    padding: 5px 0;
}

details.test[open]>summary::after {
    display: inline-block;
    content: "close";
    position: absolute;
    right: 0;
    bottom: 0;
}
background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%)

body {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  font-size: 1.2rem;
  background-color: #eeeeee;  /* very light gray */
  color: #000000;  /* black */
  text-align: left;
  padding: 10px;
}
