img {
  width: 400px;
}
  .displayed {
    display: block;
    margin: 0 auto; 
  }
  .border {
    border-width: 1px solid #778899;
  }

blockquote {
  margin: .5em 0 .5em .85em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;  /* very light gray */
  color: #606060;  /* very dark gray */
}

font-family: Bahnschrift, Inter, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", 
  "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

ul li {
  font-size: 15px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  line-height:140%;
}

p { font-size: 15px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  text-align: left; 
  margin-left: 15px; 
}

pre, code {
  margin-left: 15px;
  padding: 0px;
  font-family: monospace, monospace;
  font-size: 10px; 
}
pre {
  margin-left: 15px;
  overflow: auto; }
pre > code {
  display: block;
  word-wrap: normal;
}
pre:hover, pre:focus { width: min-content; }

a {
  text-decoration: none; 
}
a[href]:hover {
  text-decoration: underline; 
}

p.em1 {
  margin-left: 1em; }
p.em2 {
  margin-left: 2em; }
p.em3 {
  margin-left: 3em; }
p.em4 {
  margin-left: 4em; }

div {
  float: left; 
}

h1 { font-size: 25px; 
  margin-left: 15px; }
h2 { font-size: 20px;
  margin-left: 15px; }
h3 { font-size: 18px; 
  margin-left: 15px; }
h4 { font-size: 16px;
  margin-left: 15px; }
h5 { font-size: 13px;
  margin-left: 15px; }
h6 { font-size: 10px;
  margin-left: 15px; }

details {
  font: 11px Inter, sans-serif, Bahnschrift, Calibri;
  width: 45%;
}
details > summary {
  margin-left: 15px;  /* added 12/16/23 */
  padding: 0px;
/*  padding: 2px 6px; */
  width: 19em;
  background-color: #eee;  /* very light gray */
  border: none;
  box-shadow: 3px 3px 4px #00008b;  /* dark blue */
  cursor: pointer;
}
details > p {
  border-radius: 0 0 10px 10px;
  background-color: #fff;  /* white */
  padding: 2px 6px;
  margin: 0;
  margin-left: 15px;  /* added 12/16/23 */
  box-shadow: 3px 3px 4px #00008b;  /* dark blue*/
}
details[open] > summary {
  background-color: #ffff00;  /* yellow */
}
details.test {
  position: relative;
  padding: 5px 0;
}
details.test[open]>summary::after {
  display: inline-block;
  content: "close";
  position: absolute;
  right: 0;
  bottom: 0;
}

background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%)

body {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  font-size: 1.2rem;
  background-color: #eeeeee;  /* very light gray */
  color: #000000;  /* black */
  text-align: left;
  padding: 10px;
  margin: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: #8b0000;  /* dark red */
  color: #fdfeff;  /* Very pale (mostly white) blue */
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
}
#myBtn:hover {
  background-color: #555555;  /* very dark gray */
}
