html *
{
  font-family: Inter, Bahnschrift, Consolas, Calibri, Verdana, "sans-serif";
  margin-left: 10px;
}

span {
    background-color: yellow;
}

strong {
    color: rebeccapurple;
}

em {
    color: rebeccapurple;
}
h1 {
  font-size: 22px;
  color: red;
  text-align: center;
h2 {
  font-size: 20px;
  margin-left: 10px;
  text-align: left; }
h3 {
  font-size: 18px;
  margin-left: 10px;
  text-align: left; }
h4 {
  font-size: 16px;
  margin-left: 10px;
  text-align: left; }
h5 {
  font-size: 13px;
  margin-left: 10px;
  text-align: left; }
h6 {
  font-size: 10px;
  margin-left: 10px;
  text-align: center; }
h7 {
  font-size: 8px;
  margin-left: 10px;
  text-align: left; }
p {
  font-size: 15px;
  font-family: Inter, Bahnschrift, Calibri, Verdana, sans-serif;
  margin-left: 10px;
  text-align: left; }
body {
  font-family: Inter, Bahnschrift, Calibri, Verdana, sans-serif;
  margin-left: 10px;
  }
}
img.displayed {
  display: block;
    margin: 0 auto; }
  .border {
    border-width: 1px;
    border-color: #778899;
    border-style: solid; }
ul, ol {
  margin-left: 5px;  /* 10 px */
}
ol.c {list-style-type: decimal;}
ol.d {list-style-type: decimal-leading-zero;}
ol.e {list-style-type: lower-roman;}
ol.f {list-style-type: lower-alpha;}
ol.g {list-style-type: lower-latin;}

ul {
  list-style-type: disc;
}
ul li::before {
/*  content: "✔️"; */
  margin-left: 5px;  /* 10 px */
  list-style-type: disc;
  list-style-position: outside;
  display: inline-block;
/*  margin-right: 0.3rem;   .2rem; */
}
ul ul li::before {
/*  content: "👉"; */
  margin-left: 5px;  /* 10 px */
  list-style-type: disc;
  list-style-position: outside;  /* blank */
/* margin-right: 0.3rem;   blank */
}
ul ul ul li::before {
/*  content: "➕"; */
  margin-left: 5px;  /* 10 px */
  list-style-type: disc;
  list-style-position: outside;  /* blank */
/*  margin-right: 0.3rem;   blank */
}
/* font-family: "Courier New", Courier, monospace, sans-serif; */
  code, samp, kbd {
    font-family: Consolas, Inter, Bahnschrift, serif, Helvetica;
    text-align: left;
    color: #555;
  }
  /* target IE7 and IE6 - the chumps who wrote IE are the worst kind of programmers. */
  *:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto;
  }
  * html pre {
    padding-bottom: 2em;
    font-size: 12px;
    overflow: visible;
    overflow-x: auto;
  }
pre {
  font-family: Consolas, Bahnschrift, serif, Helvetica;
  font-size: 12px;   /* 10px */
  width: 40%;        /* 40% */
  max-height: 30%;  /* 300px <-- 400px; */
  color: #444;
  padding: 3px;  /* 5px, 10px */
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 1px;  /* 2px, 5px */
  word-wrap: normal;
  overflow: auto;
}
  li > ul {
    margin-left: 5px;  /* 10 px */
    padding-bottom: 0.7em;  /* .5em; */
  }
